body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/2020-08/shutterstock_1731284125_0.jpg?itok=89UrdUt');
    background-size: cover;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.content {
    background-color: rgba(139, 69, 19, 0.7);
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
}

.input-box {
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: beige;
}

.submit-btn {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
}


